PROJECT_ID=my-project-id
SERVICE_ACCOUNT_EMAIL=my-service-account@my-project-id.iam.gserviceaccount.com
SERVICE_ACCOUNT_NAME=my-service-account
SECRET_NAME=ebs-oracle-tools
SERVICE_NAME=mcp-oracle-ebs
REGION=us-central1
IMAGE_URL=us-central1-docker.pkg.dev/database-toolbox/toolbox/toolbox:latest
VPC_NAME=my-vpc-network
SUBNET_NAME=my-subnet-us-central1
