# rename this file to .env

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT="oracle-ebs-toolkit"

# GOOGLE_CLOUD_PROJECT_NUMBER=$(gcloud projects describe $GOOGLE_CLOUD_PROJECT --format="value(projectNumber)")
GOOGLE_CLOUD_PROJECT_NUMBER=123456
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_CLOUD_BUCKET_NAME="ebs-agent-staging"
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
#MCP_SERVER_SQL_URL="https://mcp-oracle-sql-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp/"
MCP_SERVER_SQL_URL="https://mcp-oracle-sql-123456.us-central1.run.app/mcp"
#MCP_SERVER_SQL_URL="http://localhost:8080/mcp"
#MCP_SERVER_EBS_URL="https://mcp-oracle-ebs-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp/"
MCP_SERVER_EBS_URL="https://mcp-oracle-ebs-123456.us-central1.run.app/mcp"

DEBUG=true